body {
    font-family: "Lato", sans-serif;
    background-color: #000000;
    color: #ffffff;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:  0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav img {
    padding: 8px 8px 8px 32px;
    width: 120px;
  }
  
  
  @media screen and (max-height: 395px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (min-width: 320px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav img {width:60px;}
    .SampleText{left: calc(15%); top: 60px;}
    #edittext{top: 40px; left: calc(32%); width: 140px;}
    #editmode{width: 80px;top: 180px;font-size: 8px;}
    #SwitchRotateResize{top: 230px;font-size:8px;}
    #SwitchDisplayText{top: 280px;font-size:8px;}
    #place-button{left: calc(36%);font-size:8px;}
    #measurement{left: calc(15%);font-size:8px;}
    #delete{left: calc(65%);font-size:8px;}
    span{font-size:15px;}
  }
  @media screen and (min-width: 768px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav img {width:60px;}
    .SampleText{left: calc(34%); top: 100px;}
    #edittext{top: 40px; left: calc(41%); width: 140px;}
    #editmode{width:80px;top: 100px;font-size:12px;}
    #SwitchRotateResize{top: 150px;font-size:12px;}
    #SwitchDisplayText{top: 200px; font-size:12px;}
    #place-button{left: calc(44%);font-size:12px;}
    #measurement{left: calc(30%);font-size:12px;}
    #delete{left: calc(55%);font-size:12px;}
    span{font-size:30px;}
  }
  @media screen and (min-width: 1024px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav img {width:120px;}
    .SampleText{left: calc(35%); top: 100px;}
    #edittext{top: 60px; left: calc(41%); width: 140px;}
    #editmode{width:100px;top: 160px;font-size:12px;}
    #SwitchRotateResize{top: 250px;font-size:12px;}
    #SwitchDisplayText{top: 300px; font-size:12px;}
    #place-button{left: calc(45%);font-size:12px;}
    #measurement{left: calc(35%);font-size:12px;}
    #delete{left: calc(55%);font-size:12px;}
    span{font-size:30px;}
  }

  a {
    color: #ffff00;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    cursor: pointer;
    text-transform: uppercase;
  }
  
  #info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1; /* TODO Solve this in HTML */
  }
  
  a, button, input, select {
    pointer-events: auto;
  }
  
  .dg.ac {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important; /* TODO Solve this in HTML */
  }
  
  #overlay {
    position: absolute;
    font-size: 16px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.7);
  }
  
    #overlay button {
      background: transparent;
      border: 0;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 4px;
      color: #ffffff;
      padding: 12px 18px;
      text-transform: uppercase;
      cursor: pointer;
    }
  
  #notSupported {
    width: 50%;
    margin: auto;
    background-color: #ff0000;
    margin-top: 20px;
    padding: 10px;
  }

  #place-button{
    bottom: 50px;
    width: 100px;
    height: 40px;
    display: none;
  }
  
  #editmode{
    right: 20px;
    height: 40px;
    display: block;
  }
  #edittext{
    width: 140px;
    display: none;
  }
  #delete{
    bottom: 50px;
    width: 80px;
    height: 40px;
    display: none;
  }
  #measurement{
    bottom: 50px;
    width: 130px;
    height: 40px;
    display: none;
  }
  #SwitchRotateResize
  {
    right: 20px;
    width: 130px;
    height: 40px;
    display: none;
  }
  #SwitchDisplayText{
    right: 20px;
    width: 100px;
    height: 40px;
    display: none;
  }
  .SampleButton{
    position: absolute;
    padding: 12px 6px;
    border: 1px solid #fff;
    border-Radius: 8px;
    background: rgba(0,0,0,0.1);
    color: #ffffff;
    font:normal 16px sans-serif;
    text-Align: center;
    opacity: 0.5;
    outline: none;
    z-Index: 999;
  }
  .SampleText{
    position: absolute;
    padding: 12px 6px;
    background: rgba(0,0,0,0.1);
    color: #ffffff;
    font:normal 13px sans-serif;
    text-Align: center;
    opacity: 0.5;
    outline: none;
    width: 260px;
  }
  #step02_PlaceWallTarget{
    display: none;
  }
  #step03_PlaceTiles{
    display: none;
  }
  #step04_SelectEditTiles{
    display: none;
  }
  #saveScene{
    display: none;
  }
  #loadScene{
    display: none;
  }